#header {
  color: blue;
  text-shadow: black;
}
.form-inline {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.btn {
  background-color: beige;
  color: black;
  font-weight: bold;
}
body {
  background: url("../images/sunnySky.jpg") top center no-repeat;
  background-size: cover;
  width: 100%;
}
#maincard {
  outline-width: 5px;
  outline-color: black;
}
.list-group-item {
  width: 400px;
}
.uvi {
  padding: 10px;
}
.uvi.red {
  background-color: red;
}
.uvi.green {
  background-color: green;
}
#search-history {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 35%;
}
#five-day {
  display: flexbox;
  justify-content: space-around;
  flex-direction: column;
  background-color: lightgrey;
  color: black;
}
header h1 {
  color: white;
}
.hidden {
  display: none;
}
 