#header {
    color: blue;
    text-shadow: black;
    t
}

.form-inline {
    display: flexbox;
    justify-content: right;
    align-items: flex-end;
}

#sunshine {
    height: 65px;
    width: auto;
    border-width: 1px;
    border-color: black;
    border-radius: 25%;
    border-style: solid;
}

.btn {
    background-color: beige;
    color: black;
    font-weight: bold;
}

#five-day {
    display: flexbox;
    justify-content: space-around;
    flex-direction: row;
    background-color: lightgrey;
    color: black;
}

/* .fill,
html,
body,
.container-fluid {
    height: 100%;
}

header h1 {
    color: white;
}

.hidden {
display:none; */